<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.toeic_adventure">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Toeicadventure"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.SkillTestPart7Activity"
            android:exported="false" />
        <activity
            android:name=".activity.SkillTestPart6Activity"
            android:exported="false" />
        <activity
            android:name=".activity.SkillTestPart5Activity"
            android:exported="false" />
        <activity
            android:name=".activity.SkillTestPart4Activity"
            android:exported="false" />
        <activity
            android:name=".activity.SkillTestPart3Activity"
            android:exported="false" />
        <activity
            android:name=".activity.SkillTestPart2Activity"
            android:exported="false" />
        <activity
            android:name=".activity.SkillTestPart1Activity"
            android:exported="false" />
        <activity
            android:name=".activity.FullTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FullTestListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ForgotPasswordAuthenticationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RegisterAuthenticationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/shape" />

        <activity
            android:name=".activity.SkillTestListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.VocabularyDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>